.navbar {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navber-right {
    gap: 40px;
    display: flex;
    align-items: center;

}

.navbar button {
    background: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
}